
<div class="movie_card" id="bright">
    <div class="info_section">
      <div class="movie_header">
        <img class="locandina" [src]="_movie.image"/>
        <h2>{{_movie.title}}</h2>
        <h4>{{_movie.year}}</h4>
        <span class="minutes">{{_movie.rating}}</span>
        <p class="type">{{_movie.genre}}</p>
        <div class="add_to_watch_list"><i (click)="addToWatchList()" class="fas fa-clock"></i></div>
      </div>
      <div class="movie_desc">
        <p class="text">
          Set in a world where fantasy creatures live side by side with humans. A human cop is forced to work with an Orc to find a weapon everyone is prepared to kill for. 
        </p>
      </div>
      <div class="movie_social">
          <app-rate [rating]="_movie.rating"></app-rate>
      </div>
      <div class="delete_button"><i (click)="delete()" class="far fa-trash-alt"></i></div>
      

    </div>
    <div class="blur_back" [style.background-image]="'url('+_movie.image+')'"></div>
  </div>
  
  
